<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue2</title>
  </head>
  <body>
    <div id="app">
      <h1>Campeonato brasileiro série A</h1>
      <ul>
        <li v-for="(time, index) in times">
            {{ index + 1 }} {{ time.nome }} <img :src="time.escudo">
        </li>
      </ul>
      <ul>
        <li v-for="x in 100">{{ x }}</li>
      </ul>
      <ul>
          <li v-for="(valor, chave, index) in alfabeto">
            {{ index }} - {{ chave }}: {{ valor }}
          </li>
        </ul>
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
